.feedBack {
  border-radius: 20px;
  background-color: var(--tg-theme-secondary-bg-color, #fff);
  color: var(--text-color);
  margin-bottom: 2px;
  padding: 17px 16px;

  h2 {
    font-family: var(--third-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: var(--text-color);
  }

  &__more {
    font-family: var(--font-family);
    font-size: 13px;
    line-height: 138%;
    letter-spacing: -0.01em;
    color: var(--text-color);

    display: block;
    width: fit-content;
    border-radius: 16px;
    padding: 5px 12px;
    background: rgba(118, 118, 128, 0.12);
    margin: 0 auto;
    margin-top: 20px;
  }

  &__comment {
    // opacity: 0;
    padding-top: 50px;
    animation: fadeIn 0.5s forwards;

    &__wrapper {
      display: flex;
      flex-direction: column;
    }
  }
}

@keyframes fadeIn {
  to {
    // opacity: 1;
    padding-top: 0;
  }
}