
.companyLink {
    text-align: center;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.01em;
    color: var(--hint-color);
    padding: 15px 0;

    span {
      cursor: pointer;
      color: var(--link-color);
    }
  }