.menuWrapper {
    background: var(--secondary-bg-color);
    border-radius: 20px;
    padding-bottom: var(--tg-safe-area-inset-bottom);
    padding-left: var(--tg-safe-area-inset-left);
    padding-right: var(--tg-safe-area-inset-right);
    min-height: 90vh;
}


.menu {
    // padding: 16px;
    padding-top: var(--tg-safe-area-inset-top);
    padding-bottom: 25px;
    border-radius: 10px;

    &__title {
        padding: 0 16px;


        text-align: center;
        padding-top: 6px;
        padding-bottom: 12px;

        h2 {
            font-size: 16px;
            font-weight: 600;
            letter-spacing: -0.03em;
            color: var(--text-color);
            font-family: var(--font-family);
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
        }
    }

    &__header {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 0 16px;


        &__title {
            display: flex;
            flex-direction: column;
            align-items: start;

            h2 {
                font-family: var(--second-family);
                font-weight: 700;
                font-size: clamp(18px, 20px, 28px);
                letter-spacing: 0.01em;
                color: var(--text-color);
            }

            &__raiting {
                display: flex;
                align-items: center;
                gap: 10px;

                span {
                    font-family: var(--font-family);
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 133%;
                    letter-spacing: -0.02em;
                    color: var(--hint-color);
                }

                .active {
                    fill: var(--link-color) !important;
                }
            }
        }

        .symbol {
            background-color: rgba(116, 116, 128, 0.08);
            padding: 10px;
            border-radius: 50%;

            div {
                display: flex;
            }
        }
    }

    .category {
        width: 100%;
        display: flex;
        gap: 8px;
        overflow: scroll;
        padding: 0 16px;


        &__text {
            white-space: nowrap;
            cursor: pointer;
            font-family: var(--font-family);
            font-weight: 600;
            font-size: 13px;
            line-height: 138%;
            letter-spacing: -0.01em;
            text-align: center;
            color: var(--text-color);
            border-radius: 10px;
            padding: 7px 10px;
            background: rgba(116, 116, 128, 0.08);
            margin: 10px 0;


            &__active {
                color: var(--secondary-bg-color);
                background: var(--link-color);
            }
        }

    }

    .categorySticky {
        position: sticky;
        top: 0;
        z-index: 99;
        padding-top: calc(var(--tg-safe-area-inset-top, 0px) + 5px);
        padding-bottom: 2px;
        background-color: var(--secondary-bg-color);

        .stickyTitle {
            transition: all 0.5s ease-in-out;

            &__active {
                transform: translateY(0%);
                transition: all 0.5s ease-in-out;
                padding: 10px 0;

            }

            &__closed {
                transform: translateY(-100%);
                opacity: 0;
                transition: all 0.2s ease-in-out;
                transform: translate(-50%);
            }
        }


        h4 {
            position: sticky;
            text-align: center;
            font-family: var(--second-family);
            font-size: 14px;
            font-weight: 700;
            color: var(--text-color);
        }
    }

    &__categoryName {


        text-align: left;

        h2 {
            font-family: var(--second-family);
            font-weight: 700;
            font-size: 22px;
            line-height: 127%;
            letter-spacing: 0.02em;
            color: var(--text-color);
        }

        padding: 10px 16px;
    }

    &__food {
        padding: 0 16px;


        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: auto;
        gap: 8px;

        &__box {
            display: flex;
            flex-direction: column;
            padding: 4px;
            border-radius: 16px;
            box-shadow: 0 0px 2px 0 rgba(51, 51, 51, 0.08);
            background: rgba(116, 116, 128, 0.08);
            transition: 0.2s ease-in-out;

            &:active,
            &:hover {
                transform: scale(1.05);
            }

            &__img {
                height: 150px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 16px;
                }
            }

            &__text {
                padding: 5px;

                h4 {
                    padding: 1px 0;
                    font-family: var(--font-family);
                    font-weight: 600;
                    font-size: 13px;
                    line-height: 138%;
                    letter-spacing: 0.01em;
                    color: var(--text-color);
                }

                strong {
                    color: var(--text-color);
                    font-family: var(--font-family);
                    font-weight: 600;
                    font-size: 15px;
                    line-height: 129%;
                    letter-spacing: -0.04em;
                }

                p {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    display: -webkit-box;

                    color: var(--hint-color);

                    font-size: 11px;
                    line-height: 120%;
                    font-family: var(--font-family);
                    font-weight: 400;
                    letter-spacing: -0.01em;
                    padding: 2px 0;
                }

                span {
                    font-family: var(--font-family);
                    font-weight: 400;
                    font-size: 13px;
                    line-height: 138%;
                    letter-spacing: -0.01em;
                    color: var(--hint-color)
                }
            }
        }
    }
}



// анимация


@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .menu__food > div {
    opacity: 0; // Изначально элементы скрыты
    transform: translateY(20px); // Начальное смещение
    animation: fadeInUp 0.5s ease forwards; // Анимация появления
  }
  
/* Для большего количества элементов можно использовать SCSS-миксины или JS */