header {
  min-height: 200px;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
  background-color: #fff;
  margin-bottom: 2px;
}

.fullScreenImg {
  position: fixed;
  top: 0;
  bottom: -1%;
  right: 0;
  left: 0;
  z-index: 999;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain !important;
    background: var(--tg-theme-bg-color);
    ;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet {
  background-color: #ffffff;
}

.swiper-pagination-bullet-active {
  background-color: white !important;
}