.comment {
  border-bottom: 0.5px solid #d1d1d6;
  margin-top: 20px;

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;

    &__img {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__user {
      flex: 1;

      h3 {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 17px;
        line-height: 129%;
        letter-spacing: -0.02em;
        color: var(--text-color);
      }

      &__raiting {
        svg {
          width: 15px;
          height: 15px;
        }

        strong {
          gap: 1px;
        }
      }
    }

    &__ago {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 17px;
      line-height: 129%;
      letter-spacing: -0.02em;
      text-align: right;

      color: var(--hint-color)
    }
  }

  &__box {
    display: grid;
    grid-template-columns: 1fr 60px;
    transition: height 0.4s ease-in-out;
    text-align: left;
    align-items: flex-start;
    height: auto;

    &__text {
      position: relative;
    }

    p {
      display: inline;
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 16px;
      line-height: 131%;
      letter-spacing: -0.02em;
      color: var(--text-color);
      opacity: 1;
      transition: all ease-in-out 0.5s;
    }


    span {
      cursor: pointer;
      font-family: var(--font-family);
      font-size: 13px;
      line-height: 138%;
      letter-spacing: -0.01em;
      text-align: center;
    }

    &__collapse {
      span {
        color: var(--hint-color);
      }
    }

    &__more {

      .comment__box__closingText {
        opacity: 0;
        position: absolute;
        left: 0;
        transform: translate(100%);
        width: 100%;
      }

      span {
        color: var(--link-color);
      }
    }

  }




  &__FullImage {
    background-color: var(--tg-theme-secondary-bg-color, #000000);
  }

  &__images {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    margin: 16px 0;

    &__img {
      height: 70px;
      width: 70px;
      border-radius: 10px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.replyComment {
  padding-left: 15px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 1px;
    background-color: var(--hint-color);
    border-radius: 5px;
    opacity: 0.5;
  }

  .comment__title__ago {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  svg {
    fill: var(--hint-color)
  }
}

.comment:last-child {
  border: none;
}