.toast-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 999;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease-in-out !important;
}

.toast-container {
  width: 120px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  font-family: var(--font-family);
  color: #fff;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
  padding: 10px;

  &::before {
    content: "";
    display: inline-block;
    background-size: contain; // Изображение полностью впишется в контейнер
    background-repeat: no-repeat; // Избегаем повторения
    width: 35px;
    height: 35px;
  }
}

.toast-container.error {
  &::before {
    background-image: url(../../../public/cross.svg);
  }
}

.toast-container.success {
  &::before {
    background-image: url(../../../public/check.png);
  }
}

.toast-container.info {
  &::before {
    background-image: url(../../../public/info.png);
  }
}

.toast-close {
  cursor: pointer;
}

.check__text {
  color: inherit;
  font-size: 10px;
  text-align: center;
}