.square {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3C3C4366;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 999;

    &__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3px;
        width: 270px;

        border-radius: 14px;
        backdrop-filter: blur(80px);
        background: rgb(255 255 255 / 50%);

        &__text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 3px;
            padding: 19px 18px;

            h3 {
                font-family: var(--font6);
                font-weight: 590;
                font-size: 17px;
                line-height: 129%;
                letter-spacing: -0.02em;
                text-align: center;
                color: var(--text-color);
            }

            p {
                font-family: var(--font6);
                font-weight: 400;
                font-size: 13px;
                line-height: 138%;
                letter-spacing: -0.03em;
                text-align: center;
                color: var(--text-color);
            }
        }


        button {
            text-align: center;
            border-top: 0.33px solid var(--separator-color);
            width: 100%;
            padding: 11px 0;

            font-family: var(--font6);
            font-weight: 590;
            font-size: 17px;
            line-height: 129%;
            letter-spacing: -0.02em;
            color: var(--link-color);
            cursor: pointer;
        }
    }
}

.toast-container {
    width: 120px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    font-family: var(--font-family);
    color: #fff;
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
    padding: 10px;

    &::before {
        content: "";
        display: inline-block;
        background-size: contain; // Изображение полностью впишется в контейнер
        background-repeat: no-repeat; // Избегаем повторения
        width: 48px;
        height: 48px;
    }
}

.toast-container.error {
    &::before {
        background-image: url(../../../public/cross.svg);
    }
}

.toast-container.success {
    &::before {
        background-image: url(../../../public/check.png);
    }
}

.toast-container.info {
    &::before {
        background-image: url(../../../public/warning.svg);
        background-position: center;
        background-size: contain;
    }
}