.mainInfo {
  border-radius: 20px;
  padding: 19px 16px;
  // background-color: #fff;
  background-color: var(--secondary-bg-color);
  color: var(--text-color);
  margin-bottom: 2px;

  &__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;

    &__img {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__name {
      flex: 1;

      h2 {
        font-weight: 600;
        font-size: 16px;
        line-height: 131%;
        letter-spacing: -0.02em;
        // color: #000;
        color: var(--text-color);
      }

      span {
        font-weight: 400;
        font-size: 16px;
        line-height: 131%;
        letter-spacing: -0.02em;
        // color: #000;
        color: var(--text-color);
      }
    }

    &__bookMark {
      display: flex;
      cursor: pointer;
      font-size: 23px;
      -webkit-tap-highlight-color: transparent;


      // svg {
      //   fill: #3c3c43;
      //   stroke: #3c3c43;
      //   fill-opacity: 0.6;
      // }
      svg {
        fill: var(--tg-theme-text-color, #3c3c43);

        path {
          fill: var(--tg-theme-text-color, #3c3c43);
        }
      }
    }
  }

  &__shortText {
    font-weight: 400;
    font-size: 13px;
    line-height: 138%;
    letter-spacing: -0.01em;
    color: var(--hint-color);
    margin-top: 16px;
    padding-bottom: 2px;
  }

  &__mainText {
    font-weight: 400;
    font-size: 16px;
    line-height: 131%;
    letter-spacing: -0.02em;
    // color: #000;
    color: var(--text-color);

    padding-bottom: 16px;
  }

  &__openHours {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    line-height: 138%;
    letter-spacing: -0.01em;
    text-align: center;
    // color: #000;
    color: var(--text-color);

    border-top: 0.5px solid #d1d1d6;

    &__divider {
      display: flex;
      justify-content: center;
      // flex: 1;

      div {
        height: 32px;
        width: 1px;
        background-color: #d1d1d6;
        margin: 10px 0;
      }
    }

    &__left {
      display: flex;
      flex-direction: column;
      align-items: center;

      text-align: center;
      flex: 1;

      span {
        font-size: 13px;
        color: var(--link-color);
      }
    }

    &__right {
      display: flex;
      flex-direction: column;
      align-items: center;

      text-align: center;
      flex: 1;

      span {
        font-size: 13px;
        color: var(--hint-color);
      }
    }
  }

  &__orderbutton {
    width: 100%;
    padding: 13px 50px;
    border-radius: 10px;
    // background: #007aff;
    background: var(--tg-theme-button-color, #007aff);
    border: none;
    // color: white;
    color: var(--tg-theme-button-text-color, #fff);

    font-weight: 600;
    font-size: 17px;
    line-height: 129%;
    letter-spacing: -0.02em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    margin: 12px 0;

    img {
      padding-bottom: 4px;
    }
  }

  .actionButtons {
    display: flex;
    justify-content: space-between;
    gap: 8px;

    button {
      padding: 6px 0;
      border-radius: 10px;
      background: rgba(118, 118, 128, 0.12);
      border: none;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 3px;
      flex: 1;

      font-weight: 500;
      font-size: 12px;
      line-height: 133%;
      // color: #000;
      color: var(--text-color);

      svg {
        fill: var(--tg-theme-text-color, #000);
        stroke: var(--tg-theme-text-color, #000);
      }

      path {
        fill: var(--tg-theme-text-color, #000);
        stroke: var(--tg-theme-text-color, #000);
      }
    }
  }
}

.mainInfoTaxi {

  .actions {
    display: flex;
    align-items: center;
    gap: 12px;
    border: none;
    background-color: transparent;
    width: 100%;
    position: relative;
    user-select: none;

    &__info {
      flex-direction: column-reverse !important;
      &__smallInfo {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 17px !important;
        line-height: 129%;
        letter-spacing: -0.03em;
        color: var(--hint-color);
      }
    }
  }
}