.contacts {
  min-height: 500px;
  border-radius: 20px;
  // background-color: #fff;
  background-color: var(--tg-theme-secondary-bg-color, #fff);
  color: var(--tg-theme-text-color, #000);
  padding-bottom: 50px;

  &__header {
    display: flex;
    padding: 16px;

    h2 {
      flex: 1;
      font-weight: 600;
      font-size: 20px;
      line-height: 120%;
      letter-spacing: 0.02em;
      // color: #000;
      color: var(--tg-theme-text-color, #000);
    }

    button {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 16px;
      background: rgba(118, 118, 128, 0.12);
      gap: 5px;
      border: none;
      padding: 5px 1px;

      font-weight: 600;
      font-size: 14px;
      line-height: 143%;
      letter-spacing: -0.01em;
      // color: #000;
      color: var(--tg-theme-text-color, #000);

      svg {
        stroke: var(--tg-theme-text-color, #000);

        path {
          stroke: var(--tg-theme-text-color, #000);
        }
      }
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-height: 80vh;
    overflow: scroll;

    &__coin {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    &__closedCompanyButton {
      width: 100%;
      border-radius: 10px;
      padding: 11px 12px;
      background: #eeeeef;
      border: none;

      font-weight: 600;
      font-size: 17px;
      line-height: 129%;
      letter-spacing: -0.02em;
      text-align: center;
      color: #000;
      // color: var(--tg-theme-text-color, #000);
      margin-top: 50px;
    }

    .actions {
      display: flex;
      align-items: center;
      gap: 10px;
      border: none;
      background-color: transparent;
      width: 100%;
      position: relative;
      user-select: none;

      &::after {
        content: "";
        width: 90%;
        right: 0;
        bottom: 0;
        position: absolute;
        height: 0.5px;
        border-radius: 10px;
        background-color: #c8c7cc;
      }

      // &:last-of-type::after {
      //   content: none; /* Убираем псевдоэлемент у последнего элемента типа */
      // }
      // svg {
      //   fill: #000;
      // }

      &--disabled {
        pointer-events: none;
      }

      &__text {
        width: 100%;
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
        padding-right: 5px;
        font-weight: 400;
        font-size: 16px;
        line-height: 131%;
        letter-spacing: -0.02em;
        // color: #000;
        color: var(--tg-theme-text-color, #000);
        text-align: left;

        &--disabled {
          color: rgb(174, 0, 0);
        }

        svg {
          fill: var(--tg-theme-text-color, #000);

          path {
            fill: var(--tg-theme-text-color, #000);
          }
        }
      }

      &__mainText {
        opacity: 1 !important;

        span {
          font-size: 16px;
          line-height: 131%;
          letter-spacing: -0.02em;
          // color: #000;
          color: var(--tg-theme-text-color, #000);
        }

        .actions__icons {
          padding: 0;
        }

        .actions__text {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          gap: 5px;
        }

        &.workHour {
          .actions__text {
            color: var(--tg-theme-hint-color, #3c3c43);
          }
        }

        &.editWorkHour {
          .actions__text {
            // color: #000;
            color: var(--tg-theme-text-color, #000);
          }
        }

        .actions__icons--disabled {
          text-decoration: none;
          color: #000 !important;
        }

        .actions__text--disabled {
          text-decoration: none;
          color: #ff3b30 !important;
        }
      }

      &__icons {
        padding-left: 16px;

        svg {
          fill: var(--tg-theme-text-color, #000);
        }

        path {
          fill: var(--tg-theme-text-color, #000);
        }

        &--disabled {}
      }
    }

    &__closeButtons {
      display: flex;
      align-items: center;
      gap: 2px;
      text-align: center;
      margin-bottom: 30px;
      position: relative;

      &__cross {
        // position: absolute;
        // right: 0;
        // top: -30%;
      }

      &__arrowLeft {
        position: absolute;
        left: 5%;
      }

      &__title {
        flex: 1;
        font-weight: 600;
        font-size: 15px;
        line-height: 133%;
        letter-spacing: -0.02em;
        text-align: center;
        // color: #000;
        color: var(--tg-theme-text-color, #000);
      }
    }

    &__title {
      font-weight: 700;
      font-size: 22px;
      line-height: 127%;
      letter-spacing: 0.02em;
      // color: #000;
      color: var(--tg-theme-text-color, #000);

      margin-bottom: 5px;
    }

    .second__title {
      margin-top: 30px;
      margin-bottom: 20px;
    }

    &__warning {
      font-weight: 400;
      font-size: 15px;
      line-height: 133%;
      letter-spacing: -0.02em;
      // color: #000;
      color: var(--tg-theme-text-color, #000);

      margin-top: 10px;
    }

    .closedButtontext {
      font-weight: 400;
      font-size: 16px;
      line-height: 131%;
      letter-spacing: -0.02em;
      // color: #000;
      color: var(--tg-theme-text-color, #000);
    }

    .closedButtonInput input {
      border-radius: 50%;
    }

    &__positionInput {
      padding: 16px 12px;
      background: rgba(118, 118, 128, 0.07);
      border-radius: 16px;
      color: var(--tg-theme-hint-color, #3c3c43);
      outline: none;
      border: none;
    }

    &__fotoLogoEdit {
      display: flex;
      align-items: center;
      gap: 25px;

      &__img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      label {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 16px;
        padding: 10px;
        background: rgba(118, 118, 128, 0.12);
        text-align: center;

        svg {
          width: 28px;
          height: 28px;
          fill: var(--tg-theme-text-color, #000);

          path {
            fill: var(--tg-theme-text-color, #000);
          }
        }

        span {
          font-weight: 600;
          font-size: 13px;
          line-height: 138%;
          letter-spacing: -0.01em;
          // color: #000;
          color: var(--tg-theme-text-color, #000);
        }
      }
    }

    &__textArea {
      textarea {
        width: 100%;
        border: none;
        resize: none;

        background: rgba(118, 118, 128, 0.12);
        border-radius: 16px;
        padding: 16px 12px;

        &:focus {
          outline: none;
          border-color: #007bff;
        }
      }


      //удалить стили
      // &__progress {
      //   padding: 0 10px;

      //   .progress-indicator {
      //     display: flex;
      //     margin-top: 10px;
      //     gap: 5px;

      //     .progress-line {
      //       flex: 1;
      //       height: 2px;
      //       background: #e0e0e0;
      //       border-radius: 3px;

      //       &.low {
      //         background: #ff3b30;
      //       }

      //       &.medium {
      //         background: #ff9500;
      //       }

      //       &.nice {
      //         background: #fc0;
      //       }

      //       &.good {
      //         background: #34c759;
      //       }
      //     }
      //   }

      //   .progress-message {
      //     margin-top: 5px;
      //     font-weight: 400;
      //     font-size: 12px;
      //     line-height: 175%;
      //     letter-spacing: -0.03em;
      //     color: rgba(60, 60, 67, 0.5);

      //     &.empty {
      //       color: #aaa;
      //     }
      //   }
      // }
    }

    &__lastElement {
      padding-bottom: 200px;
    }
  }
}