.actions {
  &__icons__edit {
    svg {
      fill: var(--tg-theme-text-color, #000);
      stroke: inherit;

      path {
        fill: var(--tg-theme-text-color, #000);
        stroke: inherit;
      }
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 0;
    width: 100px;
    flex: 1;
    &__smallInfo {
      font-weight: 400;
      font-size: 12px;
      line-height: 133%;
      color: var(--hint-color);
      text-align: left !important;
      text-overflow: ellipsis;
      width: 100%;
      overflow: hidden;
    }
    &__text__main {
      font-weight: 400;
      font-size: 17px;
      line-height: 118%;
      letter-spacing: -0.02em;
      color: var(--text-color);

      text-align: left !important;
      text-overflow: ellipsis;
      width: 100%;
      overflow: hidden;
    }
  }
  &__arrowRight {
    // margin-left: auto;
    svg {
      fill: var(--tg-theme-text-color, #000);

      path {
        fill: var(--tg-theme-text-color, #000);
      }
    }
  }
}
