.actions {
  &__icons__edit {

  }
  &__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 0;
    &__smallInfo {
      font-weight: 400;
      font-size: 12px;
      line-height: 133%;
      color: var(--tg-theme-hint-color);
      text-align: left !important;
    }
    &__text__main {
      font-weight: 400;
      font-size: 17px;
      line-height: 118%;
      letter-spacing: -0.02em;
      color: var(--tg-theme-text-color, #000);

      text-align: left !important;
    }
  }
  &__arrowRight {
    margin-left: auto;
  }
}
