.singleMenu {
    overflow: hidden;

    h2 {
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 22px;
        line-height: 127%;
        letter-spacing: 0.02em;
        color: var(--text-color);
    }

    &__img {
        height: 40vh;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__main {

        &__devider {
            position: relative;

            &::after {
                content: "";
                right: 0;
                left: 16px;
                bottom: 0;
                position: absolute;
                height: 0.5px;
                border-radius: 10px;
                background-color: var(--separator-color);
            }
        }

        &__title {
            margin-bottom: 20px;

            &__pading {
                padding: 16px;
            }

            .singleProd--outStock {
                padding: 16px;
                color: (var(--destructive-color));
                font-weight: 500;
            }

            p {
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 16px;
                line-height: 131%;
                letter-spacing: -0.02em;
                color: var(--hint-color);
                padding-top: 8px;
            }

            strong {
                display: block;
                padding: 16px;
                font-family: var(--font-family);
                font-weight: 600;
                font-size: 17px;
                line-height: 129%;
                letter-spacing: -0.02em;
                color: var(--text-color);
            }

        }

        &__category {
            span {
                padding: 10px 16px;
                display: block;
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 13px;
                line-height: 138%;
                letter-spacing: -0.01em;
                text-transform: uppercase;
                color: var(--hint-color);
            }

            p {
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 17px;
                line-height: 129%;
                letter-spacing: -0.02em;
                color: var(--text-color);
                padding: 16px;

            }

            margin-bottom: 20px;
        }
    }

    &__similarProd {
        padding: 16px;

        h2 {
            margin-bottom: 15px;
        }

        &__box {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-auto-rows: auto;
            gap: 8px;
        }
    }
}