.edit {
    padding-left: var(--tg-safe-area-inset-left);
    padding-right: var(--tg-safe-area-inset-right);

    // padding-top: 30px;

    .contacts__actions {
        max-height: unset;
        overflow: auto;
        gap: 4px;

        &__closeButtons {
            padding-top: var(--tg-safe-area-inset-top);
        }
    }

    .sendButton {
        position: relative;
        margin-top: 50px;
    }

    .second__title {
        span {
            color: red;
            font-size: 15px;
        }
    }
}

.editActions {
    padding: 16px;

    background: var(--secondary-bg-color);
    border-radius: 20px;
    margin-bottom: 2px;



    .actions__info {
        input {
            border: none;
            background: transparent;
            color: var(--text-color);
            max-width: 100%;
            text-overflow: ellipsis;
            font-size: 17px;
            outline: none;
        }
    }

    .positions {
        color: var(--hint-color);
        background-color: transparent;
        padding-top: 10px;

        p {
            padding: 16px 12px;
            font-size: 15px;
            cursor: pointer;
            position: relative;


            &:not(:last-child)::after {
                content: "";
                width: 100%;
                right: 0;
                bottom: 0;
                position: absolute;
                height: 0.5px;
                border-radius: 10px;
                background-color: var(--separator-color);
            }
        }
    }

}