.timepickerHolder {
    background-color: var(--secondary-bg-color);

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;

    &-devider {
        width: 1px;
        height: 40px;
        background-color: #373737;
        border-radius: 10px;
    }

    &__box {
        width: 100%;
        border-radius: 10px;

        &__wrap {
            padding: 0 20px;

            >span {
                font-family: var(--second-family);
                font-weight: 400;
                font-size: 17px;
                letter-spacing: 0.03em;
                color: var(--text-color);
                z-index: 999;
            }

            display: flex;
            align-items: center;
            justify-content: space-between;

            &__normal {
                flex: 1;
                transition: 0.5s ease-in-out;
            }
        }

        &__current {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: white;
            margin: 20px 0;
            padding: 1px;
            border-radius: 10px;
            color: black;
            gap: 15px;

            &__info {
                display: flex;
                flex-direction: column;
                padding: 15px;
                transition: transform 0.2s ease-in-out;
                cursor: pointer;
                flex: 1;


                &:hover {
                    transform: scale(1.1);
                }

            }

        }

        &__buttons {
            display: flex;
            justify-content: space-between;
            gap: 17px;



            button {
                border-radius: 12px;
                padding: 8px 12px;
                flex: 1;
                border: none;
            }

            .toAllDays {
                font-family: var(--font-family);
                font-weight: 600;
                font-size: 16px;
                line-height: 112%;
                letter-spacing: -0.02em;
                text-align: center;
                color: var(--text-color);
                background: rgba(116, 116, 128, 0.08);
            }

            .enterTime {
                font-family: var(--font-family);
                font-weight: 600;
                font-size: 16px;
                line-height: 112%;
                letter-spacing: -0.02em;
                text-align: center;
                color: white;
                background: var(--link-color);
                text-transform: uppercase;
            }
        }

    }
}

.switch-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-radius: 12px;
    color: white;
    font-size: 16px;

    &__title {

        h4 {
            font-family: var(--second-family);
            font-weight: 700;
            font-size: 22px;
            line-height: 127%;
            letter-spacing: 0.02em;
            color: var(--text-color);
        }


        span {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 13px;
            line-height: 138%;
            letter-spacing: -0.01em;
            color: var(--link-color);
        }
    }


    .switch {
        position: relative;
        display: inline-block;
        height: 32px;
        width: 50px;

        input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        span {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            border-radius: 26px;
            transition: 0.4s;

            &::before {
                position: absolute;
                content: "";
                height: 80%;
                width: 50%;
                left: 4px;
                bottom: 3px;
                background-color: white;
                border-radius: 50%;
                transition: 0.4s;
            }
        }

        input:checked+span {
            background-color: var(--link-color);

            &::before {
                transform: translateX(16px);
            }
        }
    }
}