.editActions {
    .actions__info {
        padding-bottom: 0 !important;
        gap: 0 !important;

        input {
            border: none;
            padding: 10px 0;
        }
    }

    .actions__info__text__main {
        padding: 10px 0 !important;
    }
}