.edit {
    background: var(--secondary-bg-color);
    border-radius: 20px;
    padding-bottom: var(--tg-safe-area-inset-bottom);
    padding-left: var(--tg-safe-area-inset-left);
    padding-right: var(--tg-safe-area-inset-right);

    .contacts__actions {
        max-height: unset;
        overflow: auto;
    }

    .sendButton {
        position: relative;
        margin-top: 50px;
    }

    .second__title {
        span {
            color: red;
            font-size: 15px;
        }
    }
}

.editActions {
    padding: 16px;

    .actions__info {
        padding-bottom: 0 !important;
        gap: 0 !important;

        input {
            border: none;
            padding: 10px 0;
            background: transparent;
            color: var(--text-color);
            max-width: 100%;
            text-overflow: ellipsis;
            font-size: 17px;
            outline: none;

        }
    }

    .actions__info__text__main {
        padding: 10px 0 !important;
    }
}