// @import "./fonts.scss";

// сделать drag and drop
// чтобы задний  фон не прокручивался ++
// коментария меню чтобы открывалась только при нажатии нижней части ++
// звонок ++
// доступные вакансии++
// user-select: none;++
// показать только те карты и приложения те у котрых есть

// звездочки соеденить в стейт
// коментарии пусть тоже закоываеся
// пусть с зади звездочек при прикосании не загорает синий цвет
// андроид бук марк
// если чегото нет то просто красный без перечеркивания

// пусть линк переход будет через url

// убрать зум
// ташакурнома тоаст ++
// цвета починить ++
// починить время коментарии ++
// убрать тоаст с сохранить ++
// кнопку заказать поменять на позвонить если нет возмодности заказать
// докацию сделать так чтобы не спрашивало
// увеличить черточку при открывающихся окон снизу
// пусть открывается снизу окна до закрытия
// при нажатии избранного надо чтобы добавлялось в избранные
// починить чекбокс схожи на ui
// текст оставляемых коментарии должен быть схожим с telegram цвет и пусть сзади звездочек не выделяется ++
// скролл в коментариях


//
:root {
  --bg-color: #fff;
  --text-color: var(--tg-theme-text-color, #000);
  --hint-color: var(--tg-theme-hint-color, #8e8e93);
  --link-color: var(--tg-theme-link-color, #007aff);
  --button-color: #007aff;
  --button-text-color: #fff;
  --secondary-bg-color: #efeff4;
  --destructive-color: var(--tg-theme-destructive-text-color, #ff3b30);
  --warning-color: #ff9500;
  --success-color: #34c759;
  --gray-color: #8e8e93;
  --separator-color: #c8c7cb;
  --grey-40: rgba(0, 0, 0, 0.7);
  /////
  --font-family: "SF Pro Text", sans-serif;
  --second-family: "Sf pro text", sans-serif;
  --third-family: "SF Pro Display", sans-serif;
  --font3: "Roboto", sans-serif;
  --font4: "Nunito Sans", sans-serif;
  --font5: "Manrope", sans-serif;
  --font6: "Urbanist", sans-serif;
  --font7: "Inter", sans-serif;
  --font8: "Lato", sans-serif;
}

@font-face {
  src: url("../fonts/SFProText-Heavy.ttf");
  font-family: "SF Pro Text";
  font-weight: 900;
}

@font-face {
  src: url("../fonts/SFProText-Bold.ttf");
  font-family: "SF Pro Text";
  font-weight: 700;
}

@font-face {
  src: url("../fonts/SFProText-Semibold.ttf");
  font-family: "SF Pro Text";
  font-weight: 600;
}

@font-face {
  src: url("../fonts/SFProText-Medium.ttf");
  font-family: "SF Pro Text";
  font-weight: 500;
}

@font-face {
  src: url("../fonts/SFProText-Regular.ttf");
  font-family: "SF Pro Text";
  font-weight: 400;
}

@font-face {
  src: url("../fonts/SFProText-Light.ttf");
  font-family: "SF Pro Text";
  font-weight: 300;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "SF Pro Text", sans-serif;
  font-weight: 400;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  display: none;
}

html,
body {
  touch-action: manipulation;
}

body {
  background: var(--tg-theme-bg-color, #000000) !important;
  color: var(--text-color);
  height: var(--tg-viewport-height);
}

html {
  max-width: 450px;
  min-width: 290px;
  margin: auto;
  position: relative;
  scroll-behavior: smooth;
}

.no-scroll {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.errorText {
  display: block;
  text-align: center;
  color: red;
  margin: 20px 0;
}

.noAwailibleText {
  color: var(--destructive-color) !important;
}

.commonCross {
  display: grid;
  place-items: center;
  background-color: rgba(118, 118, 128, 0.12);
  border-radius: 50%;
  padding: 15px;
  position: relative;

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: var(--hint-color);

    path {
      fill: var(--hint-color);
    }
  }
}

.pressEffefct {
  &:hover {
    filter: brightness(110%);
  }

  &:active {
    filter: brightness(100%);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.05) inset;
  }
}

button:disabled {
  filter: contrast(0.5);
}

.fullScreenImg {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 999;
  height: 100%;

  img {
    object-fit: contain !important;
  }
}

.swiper {
  width: 100%;
  height: 100%;
  // border-radius: 20px;
  overflow: hidden;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  // тут
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  // object-fit: cover !important;
}

.swiper-pagination-bullet {
  background-color: #ffffff;
}

.swiper-pagination-bullet-active {
  background-color: white !important;
}

.svgController {
  display: flex;
  place-items: center;

  div {
    display: flex;
  }
}

.pending {
  color: var(--warning-color);
  font-size: 12px;
  text-wrap: wrap;

  .dots::after {
    content: ".";
    animation: dots 1.5s steps(4, end) infinite;
  }
}

@keyframes dots {
  0% {
    content: "";
  }

  25% {
    content: ".";
  }

  50% {
    content: "..";
  }

  75% {
    content: "...";
  }

  100% {
    content: "";
  }
}