.userActions {
  z-index: 999;
  position: fixed;
  bottom: 0;
  top: 0;
  width: 100%;
  transition: all 0.5s ease-in-out;
  min-height: 200px;

  &--deActive {
    transform: translateY(100%);
  }
  &--active {
    transform: translateY(0);
  }
}
