.bottom__wrapper {
  height: 100%;
  background-color: #c7c7cc;
}

.bottom-sheet {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
  // background: #fff;
  background-color: var(--tg-theme-bg-color, #fff);
  color: var(--tg-theme-text-color, #000);
  z-index: 1000;

  padding: 20px 16px;
  border-radius: 16px 16px 0 0;
  overflow: hidden;

  &--open {
    transform: translateY(0);
  }

  // &__overlay {
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   z-index: 999;
  //   box-shadow: 0 -4px 12px 0 rgba(0, 0, 0, 0.05);
  // }

  &__content {
    padding: 16px;
    span {
      text-align: center;
    }
  }

  &__close {
    text-align: center;
    div {
      height: 2px;
      width: 33px;
      border-radius: 10px;
      background: #c7c7cc;
    }
  }
}
