$picker-width: 60px;
$picker-height: 200px;
$item-height: 40px;
$padding-height: 80px;
$font-size: 18px;
$font-size-selected: 22px;
$font-color: #646464;
$font-color-selected: #fff;
$picker-background: #373737;

.timepicker {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
  margin: 20px 0;
  background-color: $picker-background;
}

.picker {
  width: $picker-width;
  height: $picker-height;
  overflow-y: scroll;
  position: relative;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  .picker-list {
    text-align: center;
  }

  .picker-item {
    height: $item-height;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $font-size;
    color: $font-color;
    scroll-snap-align: center;

    &.selected {
      font-weight: bold;
      font-size: $font-size-selected;
      color: $font-color-selected;
    }
  }

  .picker-padding {
    height: $padding-height;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 50px;
    z-index: 1;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }
}
