.notFoundPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 40px;
    color: var(--text-color);
    background-color: var(--secondary-bg-color);

    &__icon {
        width: 100%;
        text-align: right;
        padding: 0 30px;


        span {
            font-family: var(--font-family);
            font-weight: 600;
            font-size: 17px;
            line-height: 129%;
            letter-spacing: -0.02em;
            text-align: right;
            color: var(--link-color);
        }
    }


    h2 {
        font-weight: bolder;
    }

    &__sticker {
        width: 100%;

        &__box {
            padding: 13px 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            &__img {
                width: 60%;
            }
        }

        h2 {
            margin: 40px 0;
        }


        .swiper-pagination {
            bottom: 0 !important;
            position: relative !important;

            &-bullet-active {
                background-color: var(--text-color) !important;
            }
        }

    }

    &__button {
        width: 80%;

        button {
            font-size: 17px;
            font-weight: 600;
        }
    }
}