.commonButton {
  background: #007aff;
  border-radius: 10px;
  padding: 11px 12px;
  color: #fff;
  border: none;
  margin-top: 50px;
  margin-bottom: 20px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  span {
    font-weight: 600;
    font-size: 17px;
    line-height: 129%;
    letter-spacing: -0.02em;
    text-align: center;
  }
}
